@{
    ViewBag.Title = "Home Page";
}

<div class="my-custom-header">
    <input type="search" class="form-control ds-input" id="search" placeholder="Search a Github repository" aria-label="Search for..." autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;">
    <button type="button" class="btn btn-primary" id="SearchButton" disabled>Search</button>
</div>
<div id="container">
    <span id="loader" style="display: none;">
        Loading...
    </span>
    <span id="no-results" style="display: none;">Sorry, there are no results...</span>
    <table class="table" style="width: 92%; margin: auto; display: none;">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Repository</th>
                <th scope="col">Image</th>
                <th scope="col">User Name</th>
            </tr>
        </thead>
        <tbody id="repositories">
        </tbody>
    </table>
</div>